/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset e configuração da fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    min-height: 100vh;
    background-color: rgb(253, 253, 253);
}


main {
    padding: 20px;
    position: relative;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

/* Estilo da sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3BB398;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

/* Conteúdo da sidebar */
#sidebar_content {
    padding: 12px;
}

/* Estilo do usuário */
#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

/* foto do usuário*/
#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}
/* informações usuário*/
#user_infos {
    display: flex;
    flex-direction: column;
    color: white;
}

#user_infos span:last-child {
    font-size: 12px;
}

/* Estilo dos itens da sidebar */
#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
/* alteração de cor o hover - icon e description*/
.side-item:hover a {
    color: black; 
}

.side-item:hover a i {
    color: black; 
}

/* Estilo do logout */
#logout {
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

#logout_btn i {
    color: white;
}

#logout_btn:hover {
    background-color: #e3e9f7;
    color: black;
}

#logout_btn:hover i {
    color: black;
}

/* Estilo do botão de abrir menu */
#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: white;
    color: #3BB398;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/* Estilo da caixa de pesquisa */
.search-box {
    width: 80px;
    height: 50px;
    background-color: #f8f7f7;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px
}
/* largura da caixa de pesquisa*/
.search-box.ativar {
    width: 400px;
}

.search-box .icon-search, .search-box .btn-close {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 30px;
}

.search-box .btn-close i {
    font-size: 15px;
    margin-left: 15px;
    color: #737575;
}

.search-box .icon-search i {
    font-size: 20px;
    color: #737575;
}

.search-box .input-search {
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 53px;
}

.search-box .input-search input {
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: #f8f7f7;
}

/* Estilo da caixa de data */
#data-box {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #faeb1e;
    border-radius: 20px 0px 0px 20px;
    width: 250px; 
    padding: 10px 20px; 
    font-size: 16px;
    color: #505050;
    font-weight: bold;
    text-align: center;
}

/* Estilo da caixa de métricas */
#metricas-box {
    background-color: #117a6c;
    border-radius: 12px;
    padding: 20px;
    width: 450px;
    height: 20px;
    text-align: center;
    position: fixed;
    top: 150px;
    left: 150px;
}

#metricas-box h2 {
    margin: 0;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo do container de cards */
 .card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 220px; /* Ajuste de margem */
   
}

 .card-container .card-one {
    display: flex;
    background-color: #3BB398;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    height: 100px;
    text-align: center;
}

.card-container-two {
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px; /* Ajuste de margem */
   
}

.card-container .card-two {
    display: flex;
    background-color: #3BB398;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    height: 100px;
    text-align: center;
}

.card-container .card-one h3, .card-container-two .card-two h3 {
    
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

 .card-container .card-one:hover, .card-container-two .card-two:hover{
    background-color: #117a6c;
}





